.MuiPaper-rounded{
    border-radius:  0px !important;
}
.delete_prod{
    text-decoration: none;
}
.delete_prod :hover{
    text-decoration: none;
}
.prod_details{
    font-weight: 600;
}
.Sim_products{
    display: flex;
}
