  
.ml {
    font-size: 50px;
}
#lik{
    font-size:50px;
    color:#c7c7c8;
}
#lo{
    padding: 3%;
}
#lcp{
    cursor: pointer;
}
#pnt{
    cursor: pointer;
}
.nameuser{
    font-weight: 500;
}
.datepost{
    font-size: 14px;
    font-weight: 100;
}
.like{
    fill:#000000;
 }
#like:hover{
    cursor: pointer;
    fill :rgb(65, 105, 236)  ;
}
.icon:active{
        cursor: pointer;
}
#comment{
    background-color: rgb(231, 228, 228);
}
#com{
    border: none;
    font-size: 80%;
    background-color: transparent;
    outline-width: 0;
    border-radius: 25px; 
}
.ButCom{
    border : 0;
    background-color:  transparent;
}
.But__Like{
    border : 0;
    background-color: transparent;
}
.b{
    display: none;
}
.comm{
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 1.5%;
    border-radius: 3%;
}
.pp{
    align-items: center;
}
#comment{
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 1.5%;
    border-radius: 3%;
}
.butDelCom{
    color: #3f3f3f; 
}
.UpdatePost{
    width: 1400px;
    min-height: 420px;
    height: 500px;
}
#form_pub{
    padding: 3%;
}
.card__Pub{
    border-radius: 0 !important;
    position: relative !important; 
}
.button__Com{
    display: none !important;
}
.input__Com{
    background-color: #f7f8f9 !important;
    border-radius: 2px !important;
}
.card__comments{
    background-color: #f3f2f3 !important;
    box-shadow: rgb(47, 62, 77) !important;
    position: relative !important;
}
.Button_editPub{
    background-color: #fff !important;
}
.button__comm{
    background-color: #fff !important;
}
.button_editCom{
    background-color: #f3f2f3 !important;
}
.input__ComUpdate{
    outline: 0 !important;
    border: 0 !important;
    box-shadow: rgb(47, 62, 77) !important;
    background-color: #f3f2f3 !important;
}
.update_combutton{
    display: none;
}