.main-header{
    background-color: white;  
}
.header{
    background-color: white; 
}
.logo{
    background-color: white !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.bar{
    display: flex;
    background-color:white !important;
}
.header__input {
  	display: flex;
    align-items: center;  
    background-color: #f2f2f2;
    height: 20%;
}
.header__button{
    border:none;
    
}

.header__input > input {
 	font-weight: Roboto, medium;
    outline: 0;
    background: #f2f2f2;
    width: 200%;
    border: 0;   
    padding: 14px;
    font-weight: 380;
    letter-spacing: 0.05;
 }
 .flex {
     display: flex;
 }
 .lin{
     color :black;
     text-decoration: none ;
     font-size: 15px;
  font-weight: 500;
 }
 .lin:hover {
     color :#00E2c8;
 }
 .lin:focus{
    color :#00E2c8;
 }
 .icon{
    fill:#CDCDCD;
 }
.icon:hover{
cursor: pointer;
fill :rgb(78, 75, 75);
}
.icon:active{
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  }
 
.rea:hover{
    text-decoration: none;
    color: black;
}
.rea{
    text-decoration: none;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242526;
    width: 345px;
    z-index: 1;
    margin-left: -300px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .add{
      color : #343f54;
  }
  .abouts{
      color: rgb(172, 167, 167);
  }