.home{
    background-image: url('./hero_banner.jpg');
    padding-bottom: 50%;
    margin-left: -5%;
    margin-right:-5%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
    background-color:  #fff
}
.logo{
    align-items: center
}

.login{
    text-decoration: none;
    color : black;
    font-size: 22px;
    font-weight: 500;
}
.login:hover{
    color: #00E2C8;
}