.title{
    font-weight: 700;
}
#Button_board{
    border-radius: 0 !important;
    background-color: #202c43 !important;
    color:white;
}
#Button_board:hover{
    background-color: #202c43 !important;
}
.BoradBotton{
    width: 150px;
    align-items: center;
    justify-content: center;
}
.addQuestion{
    width: 550px;
    min-height: auto;
}
.reply{
    width: 550px;
    min-height: auto;
}
.replyButton{
    display: none !important ;
}
.title_thread{
font-weight: bold;
}
.text_thread{
    font-weight: 120;
}
.thread__btn:hover{
    color: #00E2C8;
}
.threadLink:hover{
    color: black;
    text-decoration: none;
}
.threadLink{
    color: black;
    text-decoration: none;
}