.title{
    font-weight: 700;
}
#Button_board{
    border-radius: 0 !important;
}
#Button_board:hover{
    background-color: #202c43 !important;
}
.BoradBotton{
    width: 150px;
    align-items: center;
    justify-content: center;
}
.addQuestion{
    width: 550px;
    min-height: auto;
}
.reply{
    width: 550px;
    min-height: auto;
}
.replyButton{
    display: none !important ;
}