.side_min_bar{
    height: fit-content;
}
#button_sort{
    width: max-content;
    background-color: #F7F8FA;
    
}
.add__event{
    width: 550px;
    min-height: 420px;
    height: 500px;

}
.filtre{
    display: flex;

}
.Top__section{
color: #F7F8FA;
}

#btn_event{


    text-align: left;
}
#body{
    border-left: solid 1px rgb(206, 206, 206);
    
}
.h66{
    color: black;
}
.event{
    width: 180px;
    align-items: center;
    justify-content: center;

}
.col-sm-6{
    max-height: 100px;
    min-height: 100px;
}

.input_event{
    background-color:#f2f3f3 !important;
    border-radius: 0 !important;
}
.Top__section > button{
    border: 0;
    background-color: #F7F8FA;
}

.col-sm-2 > button{
    width: 100px;
    height: 50px;
    border-radius: 1px;

    
    
}
#attend :hover{
    background-color: #202C43;
    color: white;
}

#cancel:hover{
    background-color: #202C43;
    color: white;
}
#Invite :hover{
    background-color: #202C43;
    color: white;
}
