/*.side_min_bar{
    height: fit-content;
}
#body{
    border-left: solid 1px;
    color:rgb(206, 206, 206)
}
h6,span{
    color: black;
}
button{
    width: 180px;
    align-items: center;
    justify-content: center;

}*/