.side_min_bar{
    height: fit-content;
}
#button_sort{
    width: max-content;
    height: 28px;
    border: none;
    background-color: #F7F8FA;
    
}
.friends{
    display: flex;
}
.add__event{
    width: 550px;
    min-height: 420px;
    height: 500px;
}
.filtre{
    display: flex;
}
.Top__section{
color: #F7F8FA;
}

#btn_event{
    text-align: left;
}
#body{
    border-left: solid 1px rgb(206, 206, 206);
    
}
.h66{
    color: black;
}
.event{
    width: 150px;
    align-items: center;
    justify-content: center;
}
/*.col-sm-6{
    max-height: 100px;
    min-height: 100px;
}*/

.input_event{
    background-color:#f2f3f3 !important;
    border-radius: 0 !important;
}
.Top__section > button{
    border: 0;
    background-color: #F7F8FA;
}

.col-sm-2 > button{
    width: 100px;
    height: 50px;
    border-radius: 1px;
}
.radio_input{
    display: inline !important;
    margin-left: 20px;
    color: royalblue;
}
#invite_form{
    border: none;
     border-radius: 25px;
     position: relative;
}
#user_data{
    display: contents;
    justify-items: self-start;
}
#attend :hover{
    background-color: #202C43;
    color: white;

}


#cancel:hover{
    background-color: #202C43;
    color: white;
}
#Invite :hover{
    background-color: #202C43;
    color: white;
}
#update:hover{
    background-color: #202C43;
    color: white;
}
.lin_profile{
    text-decoration: none;
    cursor: pointer;
}
.nav_profile{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}
.nav_profile:active{
    color: #00E2C8;
}
.lin_profile:hover{
    color: #00E2C8;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 2px solid #00e2c8;
    color :#00E2C8
}
.n:hover{
  color: #00E2C8;
  padding-bottom: 10px;
  border-bottom: 3px solid #00e2c8;
}
.n{
    color: black;
}
.dropdown .dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
   
}
.img_product{
    border-radius: 15px;
}
.eventslink:hover {
    color: #00E2C8;
    border-bottom: 2px solid #00e2c8;   
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.eventslink {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
.link__cart,
.cart__span{
    text-decoration: none;
    color: #000;
}
.link__cart
:hover{
    text-decoration: none;
    color : #fff;
}
.link_attended{
    text-decoration: none;
}
.link_attended:hover{
    text-decoration: none;
}

.Invite__btn:hover{
    color: #00E2c8;
    text-decoration: none;
}
.Invite__btn{
    text-decoration: none; 
}
.panel {
    border: 1px solid #7445A4; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
   
    background-color: #00e2c8 !important;
    color: white;
}
.panel-heading {
    color: #fff !important;
    background-color: #343f54 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #343f54;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #7445A4;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}